$footerBackgroundColor: #ccc;
$mb: 10px;

div.course {
  margin-bottom: $mb;
}

div.courseRegistration {
  padding: 20px 0;
  margin-bottom: 30px;
}

div.login {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #7c7c7d;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 10px;

  & > p {
    margin: 0;
    color: #ffffff;
  }
}