
a,
a:hover,
a:active {
  text-decoration: none !important;
}

button, section {
  outline: none !important;
}

.monospaced {
  font-family: monospace !important;
  font-size: 10px;
}

.table:not(.table-bordered) thead th {
  border-top: 0;
}

::selection {
  background: #78d1f1;
}
